<div class="container">
    <div class="new-pet-container row">
        <div class="content">
            <section class="col-lg-6">
                <div class="pet-photo">
                    <img class="new-photo" src="{{ pet.photo }}"/>
                </div>
                <div>
                    <form action="" method="post" enctype="multipart/form-data">
                        <input type="file">
                    </form>
                    <label>Choose file</label>
                </div>
                <div class="button-photo">
                    <button color="warn" (click)="onClick()">  
                        <i class="fas fa-camera"></i>
                    </button>  
                </div>
                <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" />
                <h1>
                    Cadastrar novo pet 
                    <i class="fas fa-paw"></i>
                </h1>
                <p>Preencha com as informações do seu pet.</p>
                <a class="back-link" routerLink="/profile">
                    <i class="fas fa-arrow-left"></i>
                    Voltar para home
                </a>
            </section> 

            <form class="col-lg-6">
                <input 
                    placeholder="Nome"
                    [(ngModel)]="pet.name" [ngModelOptions]="{standalone: true}" />
                
                <input type="number" 
                    placeholder="Idade" 
                    [(ngModel)]="pet.age" [ngModelOptions]="{standalone: true}"/>
                
                <input type="number" 
                    placeholder="Peso"
                    [(ngModel)]="pet.weight" [ngModelOptions]="{standalone: true}"/>
                
                <span *ngIf="validateGender == true || validateCastrated == true" >Preencha os campos abaixo.</span>
                <div class="input-group">
                    <div class="col-6">
                        <p>Gênero: </p>
                        <select name="Gênero" class="form-control" [(ngModel)]="selectedGender" [ngModelOptions]="{standalone: true}"> 
                            <option [selected]="true">Selecionar</option>
                            <option>Fêmea</option>
                            <option>Macho</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <p>Castrado: </p>
                        <select name="Castrado"  id="castrado" class="form-control" [(ngModel)]="selectedCastrated" [ngModelOptions]="{standalone: true}">
                            <option [selected]="true">Selecionar</option>
                            <option>Sim</option>
                            <option>Não</option>
                        </select>
                    </div>
                </div>
                
                <input 
                    placeholder="Espécie" 
                    [(ngModel)]="pet.specie" [ngModelOptions]="{standalone: true}"/>
                <input 
                    placeholder="Doenças" 
                    [(ngModel)]="pet.disease" [ngModelOptions]="{standalone: true}"/>
                <button class="button" type="submit"  (click)="petRegister(pet)">
                    Cadastrar
                </button>
            </form>  
        </div> 
    </div>
</div>

