<div class="container">
    <div class="new-pet-container row">
        <div class="content">
            <section class="col-lg-6">
                <h1>
                    Cadastrar novo pet 
                </h1>
                <p>Preencha com as informações do seu pet.</p>
                <a class="back-link" routerLink="/profile">
                    Voltar para home
                </a>
            </section> 

            <form class="col-lg-6">
                <input 
                    placeholder="Nome" />
                
                <input type="number" 
                    placeholder="Idade" />
                
                <input type="number" 
                    placeholder="Peso" />
                
                <div class="input-group">
                    <div class="col-6">
                        <p>Gênero: </p>
                        <select name="Gênero" class="form-control">
                            <option selected>Selecionar</option>
                            <option value="Femea">Fêmea</option>
                            <option value="Macho">Macho</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <p>Cadastrado: </p>
                        <select name="Castrado" class="form-control">
                            <option selected>Selecionar</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </div>
                </div>
                
                <input 
                    placeholder="Doenças" />
                <button class="button" type="submit">
                    Cadastrar
                </button>

            </form>  

        </div> 
    </div>
</div>