<div class="container">
    <div class="register-container row">
        <div class="content">
            <section>
                <h1>
                    Cadastro 
                </h1>
                <p>Faça seu cadastro, entre na plataforma e organize as informações dos seus pets.</p>
                <a class="back-link" routerLink="/">
                    <i class="fas fa-arrow-left"></i>
                    Voltar para home
                </a>
            </section> 
            <form>  
                <input placeholder="Nome" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}"/>

                <input type="email" placeholder="E-mail" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}"/>

                <input type="password" placeholder="Senha" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}"/>

                <div class="input-group">
                    <input placeholder="Cidade" class="col-sm-12 col-md-9 col-lg-10" [(ngModel)]="user.city" [ngModelOptions]="{standalone: true}"/>
                    <input placeholder="UF" class="col-sm-12 col-md-3 col-lg-2" [(ngModel)]="user.uf" [ngModelOptions]="{standalone: true}"/>
                </div>

                <button class="button" type="submit" (click)="register(user)">
                    Cadastrar
                </button>
            </form>  
        </div> 
    </div>
</div>