<div class="container">
    <div class="register-container row">
        <div class="content">
            <section>
                <h1>
                    Cadastro 
                </h1>
                <p>Faça seu cadastro, entre na plataforma e organize as informações dos seus pets.</p>
                <a class="back-link" routerLink="/">
                    Voltar para home
                </a>
            </section> 
            <form>  
                <input placeholder="Nome" />

                <input type="email" placeholder="E-mail"/>

                <input type="password" placeholder="Senha" />

                <div class="input-group">
                    <input placeholder="Cidade" class="col-sm-12 col-md-9 col-lg-10"/>
                    <input placeholder="UF" class="col-sm-12 col-md-3 col-lg-2" />
                </div>

                <button class="button" type="submit">
                    Cadastrar
                </button>
            </form>  
        </div> 
    </div>
</div>