<div class="container">
    <div class="new-schedule-container  row">
        <div class="content">
            <section class="col-lg-6">
                <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" />
                <h1>
                    Novo compromisso 
                    <i class="fas fa-paw"></i>
                </h1>
                <div class="schedule-calendar">
                    <ngb-datepicker [(ngModel)]="date"></ngb-datepicker>
                    <!-- <input type="text"  [(ngModel)]="date"/> -->
                    <!-- <button  ngbDatepicker (click)="setDate(date)">Selecionar Data</button> -->
                </div>
                <a class="back-link" routerLink="/profile">
                    <i class="fas fa-arrow-left"></i>
                    Voltar para home
                </a>
            </section> 

            <form class="col-lg-6">
                <input 
                    placeholder="Descrição"
                    [(ngModel)]="schedule.description" [ngModelOptions]="{standalone: true}"
                    />
                
                    <ngb-timepicker [(ngModel)]="time" [ngModelOptions]="{standalone: true}"></ngb-timepicker>

                <input placeholder="Local"
                       [(ngModel)]="schedule.place" [ngModelOptions]="{standalone: true}"
                    />
                <button class="button" type="submit" (click)="commitmentRegister(schedule)">
                    Cadastrar
                </button>
            </form>  
        </div> 
    </div>
</div>

