@import '../../../styles.scss';

.schedule-container {
    header{
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;

        .profile-logo{
            align-items: center;
            padding: 0;
            margin-bottom: 10px;
            img{
                height: 80px;
            }
            span{
                margin: 0;
            }
            button{
                border: 1px solid $medium-gray;
                border-radius: 50px;
                position: absolute;
                right: 5px;
                top: 10px;
                width: 35px;
                height: 35px;
                i{
                    color: $detail-color;
                }
            }
         }
        .option-group{
            display: flex;
            justify-content: space-between;
            text-align: center;
            padding-left: 5px;
            a{
                margin: 15px 5px;
                font-size: 14px;
                padding: 10px 15px;
                height: auto;
                align-items: center;
                text-align: center;
            }
            a:first-child{
                margin-left: 0;
            }
            .button{
                color: $white;
            }
            button.button-login-lg{
                display: none;
            }
        }
    }
}

@media only screen and (min-width: $break-md){
    .schedule-container {
        header{    
            .profile-logo{
                span{
                   font-size: 16px;
                   margin-left: 15px;
                }
                button{
                    display: none;
                }
             }
            .option-group{
                justify-content: end;
                a.button{
                    height: min-content;
                    max-width: max-content;
                }
                button.button-login-lg{
                    border: 1px solid $medium-gray;
                    border-radius: 50px;
                    display: block;
                    height: 38px;
                    width: 40px;
                    margin: 15px;
                    i{
                        color: $detail-color;
                        width: 40px;
                    }
                }
            }
        }
    }
}
