<div class="container">
    <div class="schedule-container row">
            
        <header class="col-12">
            <div class="profile-logo col-sm-12 col-md-6 col-lg-6">
                <img src="../../../assets/logo2.png" alt="pets" />
                <span>Bem vindo, {{ userName }}!</span>
                <button type="button" class="button-login-sm" (click)="logout()">
                    <i class="fas fa-power-off"></i>
                </button>
            </div>

            <div class="option-group col-sm-12 col-md-6 col-lg-6">
                <a class="button col-6 col-md-6" routerLink="/profile"><i class="fas fa-chevron-left"></i> Voltar</a>
                <a class="button col-6 col-md-6" routerLink="/cadastrar-compromisso">Novo</a>
                <button type="button" class="button-login-lg" (click)="logout()">
                    <i class="fas fa-power-off"></i>
                </button>
            </div>
            
        </header>
        <div class="schedule-calendar col-md-5 col-lg-3">
            <ngb-datepicker  #dp [(ngModel)]="date" (navigate)="dateNavigate($event)" ></ngb-datepicker>
        </div>
        <div class="schedule-info col-md-7 col-lg-9">
            <ul  class="col-12">
                <li  class="col-sm-12 col-md-12 col-lg-12 col-xl-6" *ngFor="let schedule of scheduleAux; let i as index;" (click)="setDay(schedule.day)">
                    <div>
                        <div class="schedule-field">
                            <strong><i class="far fa-calendar-alt"></i>Data: </strong>
                            <p>{{ schedule.day }}/{{ schedule.month }}/{{ schedule.year }}</p>
                        </div>
                        <div class="schedule-field">
                            <strong><i class="fas fa-map-marker-alt"></i>Local: </strong>
                            <p>{{ schedule.place }}</p>
                        </div>
                        <div class="schedule-field">
                            <strong><i class="far fa-clock"></i>Horário: </strong>
                            <p>{{ schedule.hour}}:{{ schedule.minute }}</p>
                        </div>
                        <div class="schedule-field">
                            <strong><i class="far fa-clipboard"></i>Descrição: </strong>
                            <p>{{ schedule.description }}</p>
                        </div>
                    </div>
                    <div class="schedule-options">
                        <button type="button" class="edit-schedule" (click)="open(mymodal, i)">
                            <i class="fas fa-edit" ></i>
                        </button>
                        <button type="button" class="trash-schedule" (click)="delete(schedule);">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>


<ng-template #mymodal let-modal >
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body profile-modal">
        <div class="petInfo container">
            <div class="row">
                <strong class="col-md-2">Descrição: </strong>
                <textarea rows="3" cols=""  
                        class="col-md-10"
                        placeholder="Descrição"
                        [(ngModel)]="schedule.description" [ngModelOptions]="{standalone: true}">
                    </textarea>
            </div>
            <div class="row">
                <strong class="col-md-2">Local: </strong>
                <input type="textarea"
                        class="col-md-10"
                        placeholder="Local"
                        [(ngModel)]="schedule.place" [ngModelOptions]="{standalone: true}"/>
                        
            </div>
            <div class="schedule-hour row">
                <strong class="col-md-2">Horário: </strong>
                <ngb-timepicker class="col-md-10" [(ngModel)]="time" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
            </div>
            <button class="button" type="submit" (click)="edit(); modal.dismiss('Cross Click')">
                Salvar
            </button>
        </div>

    </div>
    <div class="modal-footer profile-modal">
    </div>
</ng-template>