<div class="container">
    <div class="profile-container row">
            
        <header class="col-12">
            <div class="profile-logo col-sm-12 col-md-6 col-lg-8">
                <img src="../../../assets/logo2.png" alt="pets" />
                <span>Bem vindo, !</span>
                <button type="button button-login-sm">
                    <i class="fa FaPowerOff"></i>
                </button>
            </div>

            <div class="option-group col-sm-12 col-md-6 col-lg-4">
                <a class="button col-6 col-md-6" routerLink="/cadastrar-pet">Cadastrar Pet</a>
                <a class="button col-6 col-md-6">Agenda</a>
                <button type="button" class="button-login-lg">
                    <i class="fa FaPowerOff"></i>
                </button>
            </div>
            
        </header>
    
        <h1 class="col-12">Pets Cadastrados <i class="fa FaPaw"></i></h1>

        <ul class="col-12">
            <li class="col-sm-12 col-md-6">
                <div class="petPic">
                    <img src="../../../assets/picpetDefault.png" alt="pets" />
                </div> 
                <div class="petInfo">
                    <div>
                        <strong>Nome: </strong>
                        <p>nome</p>                    
                    </div>
                    <div>
                        <strong>Idade: </strong>
                        <p>idade</p>
                    </div>
                    <div>
                        <strong>Espécie: </strong>
                        <p>Gato</p>
                    </div>
                    <div>
                        <strong>Gênero: </strong>
                        <p>genero</p>
                    </div>
                    <div>
                        <strong>Castrado: </strong>
                        <p>sim</p>
                    </div>
                    <button type="button">
                        <i class="fa FaTrashAlt"></i>
                    </button>

                    <a href="/profile" class="fullPetProfile">
                        Perfil completo
                        <i class="fa FaAngleRight"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>