<div class="container">
    <div class="profile-container row">
            
        <header class="col-12">
            <div class="profile-logo col-sm-12 col-md-6 col-lg-8">
                <img src="../../../assets/logo2.png" alt="pets" />
                <span>Bem vindo, {{ userName }}!</span>
                <button type="button button-login-sm">
                    <i class="fas fa-power-off"></i>
                </button>
            </div>

            <div class="option-group col-sm-12 col-md-6 col-lg-4">
                <a class="button col-6 col-md-6" routerLink="/cadastrar-pet">Cadastrar Pet</a>
                <a class="button col-6 col-md-6" routerLink="/agenda">Agenda</a>
                <button type="button" class="button-login-lg">
                    <i class="fas fa-power-off"></i>
                </button>
            </div>
            
        </header>
    
        <h1 class="col-12">Pets Cadastrados <i class="fa FaPaw"></i></h1>

        <ul class="col-12" >
            <li class="col-sm-12 col-md-6 col-lg-6" (click)="open(mymodal, i)" *ngFor="let pet of pets; let i as index;">
                <div class="petPic">
                    <img src="../../../assets/picpetDefault.png" alt="pets" />
                </div> 
                <div class="petInfo">
                    <div>
                        <strong>Nome: </strong>
                        <p>{{ pet.name }}</p>                    
                    </div>
                    <div>
                        <strong>Idade: </strong>
                        <p>{{ pet.age }}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<ng-template #mymodal let-modal >
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body profile-modal">
      
        <div class="petPic">
            <img src="../../../assets/picpetDefault.png" alt="pets" />
        </div> 
        <div class="petInfo">
            <div>
                <strong>Nome: </strong>
                <p>{{ pet.name }}</p>                    
            </div>
            <div>
                <strong>Idade: </strong>
                <p>{{ pet.age }}</p>
            </div>
            <div>
                <strong>Espécie: </strong>
                <p>Gato</p>
            </div>
            <div>
                <strong>Gênero: </strong>
                <p>{{ pet.gender }}</p>
            </div>
            <div>
                <strong>Castrado: </strong>
                <p>{{ pet.castrated }}</p>
            </div>
        </div>

    </div>
    <div class="modal-footer profile-modal">
        <button type="button" class="btn btn-outline-dark trash-icon">
            <i class="fas fa-trash-alt"></i>
        </button>
        <button type="button" class="btn btn-outline-dark">
            <i class="fas fa-edit"></i>
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>