/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i&display=swap');

$bg-color: #f0f0f5;
$font-df-color: #6c6c6c;
$medium-gray: #dcdce6;
$lgt-gray: #f9f9f9;
$detail-color: #b757e2;
$black: #41414d;
$white: #fff;
$input-color: #9aa0ab;
$error-color: #fbf0f0;

$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font: 400 14px Roboto, sans-serif;
    background: $bg-color;
    -webkit-font-smoothing: antialiased;
    color: $black;
}
p{
    color: $font-df-color;
}
h1.indieFont{
    font-family: Indie Flower, sans-serif;
}

input, button, textarea {
    font: 400 18px Roboto, sans-serif;
}

button {
    cursor: pointer;
}

form input {
    width: 100%;
    height: 40px;
    color: $black;
    border: 1px solid $medium-gray;
    border-radius: 8px;
    padding: 0 15px;
}

.button {
    width: 100%;
    height: 40px;
    background: $detail-color;
    border: 0;
    border-radius: 8px;
    color: $white;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    transition: filter 0.2s;
    
    &:hover {
        filter: brightness(90%);
        text-decoration: none;
    }
}

.back-link{
    display: flex;
   align-items: center;
   margin-top: 40px;
   color: $black;
   font-size: 18px;
   font-weight: 500;
   text-decoration: none;
   transition: border-color 0.2s;
    svg{
        margin-right: 8px;
    }
    &:hover{
        text-decoration: none;
    }
}

.back-linkr{
    opacity: 0.8;
}