<div class="container">
    <div class="new-schedule-container row">
            
        <header class="col-12">
            <div class="profile-logo col-sm-12 col-md-6 col-lg-8">
                <img src="../../../assets/logo2.png" alt="pets" />
                <span>Bem vindo, !</span>
                <button type="button button-login-sm">
                    <i class="fas fa-power-off"></i>
                </button>
            </div>

            <div class="option-group col-sm-12 col-md-6 col-lg-4">
                <a class="button col-6 col-md-6" routerLink="/agenda">Voltar</a>
                <button type="button" class="button-login-lg">
                    <i class="fas fa-power-off"></i>
                </button>
            </div>
            
        </header>
    </div>
</div>