@import '../../../styles.scss';

.new-schedule-container{
    height: auto;
    padding-top: 40px;

    .content{
        display: block;
        padding: 10px;
        background-color: $bg-color;
        box-shadow: none;

        section{
            .back-link{
                margin-top: 0;
            }
            .pet-photo{
                background:url("../../../assets/picpetDefault.png");
                background-size: cover;
                margin: 0px auto 20px auto;
                width: 250px;
                height: 250px;
                border: 2px solid $detail-color;
                border-radius: 50%;
                overflow: hidden;
                img{
                    width: inherit;
                }
            }
            .button-photo{
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
                height: 40px;
                button{
                    border: none;
                    i{
                        color: $detail-color;
                        font-size: 30px;
                    }
                    &:hover{
                        i{
                            font-size: 35px;
                        }
                    }
                }
            }
            h1{
                font-size: 26px;
                i{
                    margin-left: 5px;
                    color: $detail-color;
                }
            }
            p{
                font-size: 16px;
            }
            a{
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 16px;
                i{
                    margin-right: 5px;
                    color: $detail-color;
                }
            }
        }
        .schedule-info{
            
            max-width: 100%;

            input{
                margin-bottom: 5px;
                font-size: 16px;
            }
           .input-group{
                display: flex;
                div {
                    padding: 0;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    p{
                        margin-left: 10px;
                       margin-bottom: 5px;
                    }
                    select.form-control{
                        font-size: 16px;
                        border-radius: 8px;
                        border-color: $medium-gray;
                        color: $input-color;
                    }
                    &:first-child{
                        padding-right: 5px;
                    }
                    &:last-child{
                        padding-left: 5px;
                    }
                } 
            }
            .schedule-hour{
                text-align: center;
                display: flex;
                &::ng-deep ngb-timepicker {
                    margin: auto;
                    fieldset .ngb-tp{
                        .btn-link{
                            color: $detail-color !important;
                        }
                    }

                }
            }
        }
    }
    .schedule-calendar {
        text-align: center;

        margin: 20px 0;
        &::ng-deep ngb-datepicker-navigation{
            .btn-link{ 
                color: $detail-color !important;
                &:hover{
                    color: $font-df-color !important;
                }
            }
        }
        &::ng-deep ngb-datepicker-month .ngb-dp-week {
            .ngb-dp-weekday{
                color: $detail-color;
            }
            .ngb-dp-today{
                background-color: $medium-gray !important;
                border-radius: 50px;
                .bg-primary{
                    background-color: $detail-color !important;
                    border-radius: 50px;
                }
            }
            .ngb-dp-day{
                .bg-primary{
                    background-color: $detail-color !important;
                    border-radius: 50px;
                }
                .btn-light:hover{
                    border-radius: 50px;
                }
            }
        }
    }
}

@media only screen and (min-width: $break-md){
    .new-schedule-container{
        width: 100%;
        max-width: 1120px;
        height: 100vh;
        margin: 0 auto;

        display: flex;
        align-items: center;
        justify-content: space-around;

        .content {
            width: 100%;
            padding: 10px;
            background: $bg-color;
            box-shadow: 0 0 100px rgba(0,0,0,0.1);
            border-radius: 8px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            section {
                .back-link{
                    margin-top: 20px;
                }
                h1{
                    font-size: 30px;
                }
                svg{
                    margin-left: 10px;
                }
                p{
                    font-size: 16px;
                    margin: 20px 0;
                    width: 100%;
                    max-width: 400px;
                }
            }
            .schedule-info{
                width: 100%;
                max-width: 450px;
            
                input{
                    margin-bottom: 5px; 
                }   
            }
       }
    }
}

@media only screen and (min-width: $break-lg){
    .new-schedule-container{
        .content {
            padding: 96px;
        }
    }
}
@media only screen and (min-width: $break-xl){
    .new-schedule-container{
        .content {
            section {
                h1{
                    font-size: 36px;
                }
            }
        }
    }
}